.navbarDiv{
   
background: white;
padding: 18px 20px;
   width: 100%;
   
}

.hov{
   color: gray;
   /* font-weight:; */
   /* text-transform: uppercase  ; */
   font-size: 13px;
   font-style: normal;
   text-decoration: dotted;
   /* text-decoration-style: calc(1000ex); */
 }
 
 .hov:hover
 {
   /* background: rgb(246, 240, 240); */
   /* padding: 6px 10px; */
   /* border-radius: 5px; */
   color: black;
   text-shadow: 1000ex;
   
 }

.collapse{
  margin-left: 200px;
}



@media (max-width:800px)
{
 .collapse{
   margin-left: 20px;
 }
 h6{
  font-size: 17px;
 }
}



@media (min-width:575px)
{
  .collapse{
    display: flex;
    justify-content: space-between;
  }
}