

.hov{
   color: gray;
   /* font-weight:; */
   /* text-transform: uppercase  ; */
   /* font-size: 13px; */
   /* font-style: normal; */
   /* text-decoration: dotted; */
   /* text-decoration-style: calc(1000ex); */
 }
 
 .hov:hover
 {
   /* background: rgb(246, 240, 240); */
   /* padding: 6px 10px; */
   /* border-radius: 5px; */
   color: black;
   text-shadow: 1000ex;
   
 }

.for-mobile{
  display: none;
}
.for-pc{
  display: block;
}


@media (max-width:576px)
{
 .for-mobile{
  display: block;
 }
 .for-pc{
  display: none;
 }

}