.s1-img1
{
   width: 100%;
   margin-top: 5em;
}
.s1-div1{

    padding: 4em 0px;
    background: #F8F8F8;
    border-radius: 5px;
    margin-top: 8em;
}
.button{
    border: solid 1px black;
    padding: 4px 10px;
    background: transparent;
    border-radius: 5px;
}
.button:hover{
    background: rgb(241, 236, 236);
    /* color: white; */
    transition: ease-in 1s;
}

